*{
    margin:0px;
}

body{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #129999;
}
header{
    padding: 35px 60px;
}


a{
    color:#fff;
    text-decoration:none;
    transition: all 0.6s ease-out;
}

a:hover{
    color:orange;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
#navbar .logo a{
    font-size: 32px;
    font-weight:bold;
  

}

.menu{
    list-style-type: none;
    display: flex;
    gap:24px;
}

.menu li a{
    font-size: 16px;
    font-weight: bold;
}

.get-started-btn{
    background: blueviolet;
    padding: 20px 25px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: bold;
}


#banner{
    background-image: url(https://images.unsplash.com/photo-1567316106249-b2ecaeefdade?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1528&q=801);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.qoute{
    text-align: center;
}

.qoute h2{
    color: #fff;
    margin-bottom:10px
    
}

.qoute h5{
    color: #fff;
    
}
.log_btn{
    padding: 15px 40px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 25px;
    color: white;
    background-color: brown;
    cursor: pointer;
}

#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}